.sidebar-body {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.sidebar-body-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  text-align: center;
  text-align: left;
  h3 {
    text-align: right;
  }
}

.sidebar-body-country {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  text-align: center;
  padding: 0.9rem;
  text-align: left;
  background-color: #4b4b4b;
  margin: 1rem 0rem;
  border-radius: 9px;

  h5,
  h4 {
    text-align: right;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
