* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  color: #ffaf40;
}

.arrow {
  height: 0.8rem;
}

.confirmed {
  color: #7d5fff;
}

.recovered {
  color: #32ff7e;
}

.deaths {
  color: #ff3838;
}

.active {
  color: #7bed9f;
}

.critical {
  color: #ff3838;
}
